.navbar-container {
  background-color: #2c2b2b;
}

.navbar-container .navbar-container {
  height: 70px;
}

.navbar-container .navbar-container .navbar-left-container :hover {
  color: white;
  font-weight: 500;
}

.navbar-container .navbar-container .navbar-left-container a {
  color: silver;
}

.navbar-container .navbar-container .navbar-right-container :hover {
  color: white;
  font-weight: 500;
}

.navbar-container .navbar-container .navbar-right-container a {
  color: silver;
  font-size: 15px;
}

.navbar-container .navbar-container .navbar-right-container .usa-img {
  height: 25px;
}

.navbar-container .navbar-container .navbar-right-container .user-img {
  border-radius: 50%;
  border: 1px solid white;
  background: white;
  width: 30px;
  height: 30px;
}

.navbar-container .navbar-container .navbar-hamburger-icon {
  color: silver;
}

.select {
  height: 35px;
  border: solid 1px #a3a1a1;
  font-size: 13px;
  color: black;
}

input {
  height: 35px;
  border: solid 1px #a3a1a1;
  font-size: 13px;
  color: grey;
}

.main-container .left-main-container .border-bottom .flight-details-container .left-container .select-flight-details {
  border: none;
  color: grey;
}

.main-container .left-main-container .border-bottom .flight-details-container .left-container p {
  font-size: 12px;
}

.main-container .left-main-container .border-bottom .flight-details-container .left-container a {
  font-size: 12px;
}

.main-container .left-main-container .passenger-details-container .enter-your-details .gender {
  width: 94%;
}

.main-container .left-main-container .passenger-details-container .enter-your-details p {
  font-size: 14px;
}

.main-container .left-main-container .billing-info-container p {
  font-size: 14px;
}

.main-container .left-main-container .billing-info-container .bottom-container p {
  font-size: 14px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images img {
  width: 70px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images .mastercard {
  height: 35px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images .visa {
  height: 28px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images .vise-electronic {
  height: 30px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images .discover {
  height: 30px;
}

.main-container .left-main-container .billing-info-container .bottom-container .card-images .maestro {
  height: 45px;
}

.main-container .left-main-container .total-container .top-container .left-container p {
  font-size: 12px;
}

.main-container .left-main-container .total-container .top-container .right-container p {
  font-size: 30px;
  font-weight: bold;
}

.main-container .left-main-container .total-container .bottom-container .book-btn {
  background-color: #e26015;
  color: white;
  font-weight: bold;
  border: none;
  height: 50px;
}

.main-container .right-main-container .top-container .booking-summary-container p {
  color: #888181;
  font-size: 13px;
}

.main-container .right-main-container .top-container .charges-container .charges-top-container .left-top-container {
  font-size: 13px;
}

.main-container .right-main-container .top-container .charges-container .charges-top-container .left-top-container .passenger-bold {
  font-weight: 500;
}

.main-container .right-main-container .top-container .charges-container .charges-top-container .left-top-container .economy-grey {
  color: #888181;
}

.main-container .right-main-container .top-container .charges-container .charges-top-container .right-top-container p {
  font-size: 14px;
  font-weight: 500;
}

.main-container .right-main-container .top-container .charges-container .charges-bottom-container .right-bottom-container .total-bold {
  font-weight: 500;
}

.main-container .right-main-container .top-container .manage-your-bookings-container {
  font-size: 13px;
}

.main-container .right-main-container .top-container .manage-your-bookings-container .first-section span {
  color: #e26015;
}

.main-container .right-main-container .top-container .manage-your-bookings-container .first-section .text-section .text-grey {
  color: #888181;
}

.main-container .right-main-container .top-container .manage-your-bookings-container .second-section span {
  color: #e26015;
}

.main-container .right-main-container .top-container .manage-your-bookings-container .second-section .text-section .text-grey {
  color: #888181;
}

.main-container .right-main-container .bottom-container .manage-your-bookings-container {
  font-size: 13px;
}

.main-container .right-main-container .bottom-container .manage-your-bookings-container .first-section span {
  color: #e26015;
}

.main-container .right-main-container .bottom-container .manage-your-bookings-container .first-section .text-section .text-grey {
  color: #888181;
}

.main-container .right-main-container .bottom-container .manage-your-bookings-container .second-section span {
  color: #e26015;
}

.main-container .right-main-container .bottom-container .manage-your-bookings-container .second-section .text-section .text-grey {
  color: #888181;
}

@media screen and (max-width: 576px) {
  .main-container .left-main-container .passenger-details-container .enter-your-details .select {
    width: 97%;
  }
  .main-container .left-main-container .billing-info-container .bottom-container .enter-card-details .card-num-container .select {
    width: 95%;
  }
  .main-container .left-main-container .billing-info-container .bottom-container .enter-card-details .card-num-container .month {
    width: 103%;
  }
  .main-container .left-main-container .billing-info-container .bottom-container .enter-card-details .card-num-container input {
    width: 95%;
  }
}

.footer-container .centering-container .left-footer-container .adantrip-about-container h3 {
  color: #444444;
}

.footer-container .centering-container .left-footer-container .adantrip-about-container p {
  color: #888181;
  font-size: 13px;
}

.footer-container .centering-container .left-footer-container .travel-mate-container a {
  color: #888181;
  font-size: 13px;
}

.footer-container .centering-container .left-footer-container .explore-container a {
  color: #888181;
  font-size: 13px;
}

.footer-container .centering-container .left-footer-container .book-container a {
  color: #888181;
  font-size: 13px;
}

.footer-container .centering-container .right-footer-container .advertising-img {
  width: 357px;
  height: 276px;
  position: absolute;
  z-index: 0;
  right: 115px;
}

.footer-container .centering-container .right-footer-container .advertising-info {
  position: absolute;
  z-index: 1;
  right: 155px;
}

.footer-container .centering-container .right-footer-container .advertising-info p {
  font-size: 15px;
}

.footer-container .centering-container .right-footer-container .advertising-info input {
  width: 290px;
}

.footer-container .centering-container .right-footer-container .advertising-info .btn-advertising {
  background-color: #e26015;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .footer-container .centering-container .right-footer-container .advertising-img {
    width: 430px;
    height: 180px;
    right: 0px;
  }
  .footer-container .centering-container .right-footer-container .advertising-info {
    right: 60px;
  }
  .footer-container .centering-container .right-footer-container .advertising-info .btn-advertising {
    position: relative;
    left: 80px;
  }
}

.copyright-container {
  background-color: #2c2b2b;
}

.copyright-container .centering-container p {
  color: #888181;
  font-size: 14px;
}

.copyright-container .centering-container .icons-container {
  font-size: 11px;
}

@media screen and (max-width: 576px) {
  .copyright-container {
    position: relative;
    top: 180px;
  }
}
/*# sourceMappingURL=style.css.map */